# TP - Régression linéaire et algorithme de descente du gradient

Le TP porte sur des données collectées au début des années 1970 par les services de la ville de Boston (USA) au sujet du logement dans divers quartiers :
* ...
* 6- AGE : proportion de logements occupés par leur propriétaires et construits avant 1940
* 7- DIS : distance (pondérée) à 5 bassins d’emplois
* ...
* 12- LSTAT : % de la population de milieu socio-économique plus défavorisé
* 13- MEDV : valeur médiane des logements occupés par leur propriétaires (×$1, 000)


L'**objectif** est d'étudier le lien entre la valeur des logements d'un quartier et l'ancienneté, la distance aux bassins d'emploi et le niveau socio-économique du quartier.

Note : les données ont été originellement publiées par Harrison, D. and Rubinfeld, D.L. _Hedonic prices and the demand for clean air_, J. Environ. Economics &
Management, vol.5, 81-102, 1978.

In [7]:
from sklearn import datasets # donnees
import os # rep de travail
import pandas as pd # data analysis
from scipy import stats # stat desc
import matplotlib.pyplot as plt # graphiques
import numpy as np # maths
import seaborn as sns

PATH = ""

In [12]:
students={}

donnees = pd.read_excel(PATH+"data_academic_performance.xlsx")

print(donnees.dtypes)

"""
Utile de garder les noms pour choisir ceux qu'on veut enlever 
"""
numerical_attribute = ("MAT_S11",
                       "CR_S11",
                       "CC_S11",
                       "BIO_S11",
                       "ENG_S11",
                       "QR_PRO",
                       "CR_PRO",
                       "CC_PRO",
                       "ENG_PRO",
                       "WC_PRO",
                       "FEP_PRO",
                       "G_SC",
                       "PERCENTILE",
                       "2ND_DECILE",
                       "QUARTILE",
                       "SEL",
                       "SEL_IHE")
categorical_attributes = ("GENDER",
                          "EDU_FATHER",
                          "EDU_MOTHER",
                          "OCC_FATHER",
                          "OCC_MOTHER",
                          "STRATUM",
                          "SISBEN",
                          "PEOPLE_HOUSE",
                          "INTERNET",
                          "TV",
                          "COMPUTER",
                          "WASHING_MCH",
                          "MIC_OVEN",
                          "CAR",
                          "DVD",
                          "FRESH",
                          "PHONE",
                          "MOBILE",
                          "REVENUE",
                          "JOB",
                          "SCHOOL_NAT",
                          "SCHOOL_TYPE",
                          "ACADEMIC_PROGRAM",
                          #"COD_S11",
                          #"Cod_SPro",
                          #"UNIVERSITY",
                          #"SCHOOL_NAME"
                         )

print(donnees.head())

print(donnees.describe())

students["DESCR"] = """ .. data_academic_performance:

Data of Academic Performance evolution for Engineering Students
--------------------------

**Data Set Characteristics:**

    :Number of Instances: 20640

    :Number of Attributes: 8 numeric, predictive attributes and the target

    :Attribute Information:
        - MedInc        median income in block group
        - HouseAge      median house age in block group
        - AveRooms      average number of rooms per household
        - AveBedrms     average number of bedrooms per household
        - Population    block group population
        - AveOccup      average number of household members
        - Latitude      block group latitude
        - Longitude     block group longitude

    :Missing Attribute Values: None

This dataset was obtained from the StatLib repository.
https://www.dcc.fc.up.pt/~ltorgo/Regression/cal_housing.html

The target variable is the median house value for California districts,
expressed in hundreds of thousands of dollars ($100,000).

This data article presents data on the results in national assessments for secondary and university education in engineering students. 
The data contains academic, social, economic information for 12,411 students. 
The data were obtained by orderly crossing the databases of the Colombian Institute for the Evaluation of Education (ICFES). 
The data are part of the Master's Degree in Engineering project of the Technological University of Bolívar (UTB) 
titled Academic Efficiency Analysis in Engineering students. Developed by Professor Enrique De La Hoz and engineer Rohemi Zuluaga.

.. topic:: References

    - De La Hoz, Enrique (2020), “Data of Academic Performance evolution for Engineering Students”, Mendeley Data, V1, doi: 10.17632/83tcx8psxv.1"""

COD_S11              object
GENDER               object
EDU_FATHER           object
EDU_MOTHER           object
OCC_FATHER           object
OCC_MOTHER           object
STRATUM              object
SISBEN               object
PEOPLE_HOUSE         object
Unnamed: 9          float64
INTERNET             object
TV                   object
COMPUTER             object
WASHING_MCH          object
MIC_OVEN             object
CAR                  object
DVD                  object
FRESH                object
PHONE                object
MOBILE               object
REVENUE              object
JOB                  object
SCHOOL_NAME          object
SCHOOL_NAT           object
SCHOOL_TYPE          object
MAT_S11               int64
CR_S11                int64
CC_S11                int64
BIO_S11               int64
ENG_S11               int64
Cod_SPro             object
UNIVERSITY           object
ACADEMIC_PROGRAM     object
QR_PRO                int64
CR_PRO                int64
CC_PRO                int64
ENG_PRO               int64
WC_PRO                int64
FEP_PRO               int64
G_SC                  int64
PERCENTILE            int64
2ND_DECILE            int64
QUARTILE              int64
SEL                   int64
SEL_IHE               int64
dtype: object
            COD_S11 GENDER                         EDU_FATHER  \
0  SB11201210000129      F  Incomplete Professional Education
1  SB11201210000137      F                 Complete Secundary
2  SB11201210005154      M                           Not sure
3  SB11201210007504      F                           Not sure
4  SB11201210007548      M    Complete professional education

                         EDU_MOTHER                                OCC_FATHER  \
0  Complete technique or technology  Technical or professional level employee
1   Complete professional education                             Entrepreneur
2                          Not sure                               Independent
3                          Not sure                          Other occupation
4   Complete professional education                                 Executive

                 OCC_MOTHER    STRATUM                              SISBEN  \
0                      Home  Stratum 4  It is not classified by the SISBEN
1  Independent professional  Stratum 5  It is not classified by the SISBEN
2                      Home  Stratum 2                             Level 2
3               Independent  Stratum 2  It is not classified by the SISBEN
4                      Home  Stratum 4  It is not classified by the SISBEN

  PEOPLE_HOUSE  Unnamed: 9  ... CC_PRO ENG_PRO WC_PRO FEP_PRO G_SC PERCENTILE  \
0        Three         NaN  ...     71      93     79     181  180         91
1        Three         NaN  ...     86      98     78     201  182         92
2         Five         NaN  ...     18      43     22     113  113          7
3        Three         NaN  ...     76      80     48     137  157         67
4          One         NaN  ...     98     100     71     189  198         98

  2ND_DECILE QUARTILE SEL SEL_IHE
0          5        4   2       2
1          5        4   4       4
2          1        1   1       1
3          4        3   2       2
4          5        4   4       2

[5 rows x 45 columns]
       Unnamed: 9       MAT_S11        CR_S11        CC_S11       BIO_S11  \
count         0.0  12411.000000  12411.000000  12411.000000  12411.000000
mean          NaN     64.320764     60.778422     60.705181     63.950528
std           NaN     11.873650     10.025876     10.120524     11.156869
min           NaN     26.000000     24.000000      0.000000     11.000000
25%           NaN     56.000000     54.000000     54.000000     56.000000
50%           NaN     64.000000     61.000000     60.000000     64.000000
75%           NaN     72.000000     67.000000     67.000000     71.000000
max           NaN    100.000000    100.000000    100.000000    100.000000

            ENG_S11        QR_PRO        CR_PRO       CC_PRO       ENG_PRO  \
count  12411.000000  12411.000000  12411.000000  12411.00000  12411.000000
mean      61.801064     77.417291     62.199339     59.18677     67.498348
std       14.297777     22.673444     27.666558     28.99184     25.495096
min       26.000000      1.000000      1.000000      1.00000      1.000000
25%       50.000000     65.000000     42.000000     36.00000     51.000000
50%       59.000000     85.000000     67.000000     65.00000     74.000000
75%       72.000000     96.000000     86.000000     85.00000     88.000000
max      100.000000    100.000000    100.000000    100.00000    100.000000

             WC_PRO       FEP_PRO          G_SC    PERCENTILE    2ND_DECILE  \
count  12411.000000  12411.000000  12411.000000  12411.000000  12411.000000
mean      53.703408    145.476593    162.710499     68.446459      3.885747
std       30.001734     40.126386     23.112479     25.867550      1.248431
min        0.000000      1.000000     37.000000      1.000000      1.000000
25%       28.000000    124.000000    147.000000     51.000000      3.000000
50%       56.000000    153.000000    163.000000     75.000000      4.000000
75%       80.000000    174.000000    179.000000     90.000000      5.000000
max      100.000000    300.000000    247.000000    100.000000      5.000000

           QUARTILE           SEL       SEL_IHE
count  12411.000000  12411.000000  12411.000000
mean       3.188865      2.598904      2.409395
std        0.979043      1.111704      0.926765
min        1.000000      1.000000      1.000000
25%        3.000000      2.000000      2.000000
50%        4.000000      2.000000      2.000000
75%        4.000000      4.000000      3.000000
max        4.000000      4.000000      4.000000